{% extends 'main/includes/header.html' %}


{% block content %}

<div class="row container">
    <div class="col s12 m6 l12">
      <div class="card blue-grey darken-2">
        <div class="card-content white-text">
          <span class="card-title">BS-23 Varsity Enroll System</span>
          <p><font size="4">This is the <b>Varsity Enrollment Log System</b> developed with Django framework!</font></p>
        </div>
        <div class="card-action">
         
        </div>
      </div>
    </div>
  </div>


{% endblock %}